<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="hwk.js"></script>
    <script src="services.js"></script>
    <script src="directives.js"></script>
    <link rel="stylesheet" href="hwk.css">
</head>
<body ng-app="AngApp" ng-controller="AngContr">

<div>
<table>
    <tbody>
    <tr ng-repeat="collection in collectionNames">
        <td>
            <button ng-click="findImages(collection)" >{{collection}}</button>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div>
    <table>
        <tbody>
        <tr ng-repeat="city in cities">
            <td>
                <input ng-model="city.name">
                <input type="file" ng-file-select="onFileSelect($files)" ng-model="city.cityImage">
                <button ng-click="saveCityData(city.name)" >save</button>
                <img ng-src="{{city.cityImage}}">
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>