<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="hwk.js"></script>

    <link rel="stylesheet" href="hwk.css">
</head>
<body ng-app="AngApp" ng-controller="AngContr">

<div ng-if="!showAlbum">
<table>
    <tbody>
    <tr ng-repeat="country in data">
        <td>
            <button ng-click="showAlbums($index)" >{{country.name}}</button>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div ng-if="showAlbum">
    <table>
        <tbody>
        <tr ng-repeat="album in albums">
            <td>
                <button ng-click="showImageModule($index)" ng-class="{chosen: $index== countryNumber }">{{album.name}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button ng-click="goBack()">back</button>
</div>

<div ng-if="showModule">
<img ng-src="{{newObj.image}}">
    <input ng-model="newObj.name">
    <button ng-click="saveName()">save</button>

</div>



</body>
</html>