.navigation{

margin: 5%;
width: 90%;

border-collapse: collapse;
}

.navigation button {
border-collapse: collapse;
border: 1px solid cyan;
color: cyan;
padding: 2%;
width: 33%;
}

table{
border-collapse: collapse;
border: 1px solid orange;
color: black;
margin: 5%;
width: 90%;
text-decoration: none;
}

.table tr th {

border: 1px solid orange;
padding: 2%;
text-align: center;
width: 30%;
}

.table tr td {

border: 1px solid orange;
padding: 2%;
text-align: center;
width: 30%;

}
