<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="node_modules/angular/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/services.js"></script>
<body ng-app="AngApp" ng-controller="AngContr">

<div>
    <h1>Info about comments</h1>
    <div>
        Put your id: <input type="text" ng-model="postId" ng-change="makeRequest()">
    </div>
    <ul>
        <li ng-repeat="comment in comments">
            {{comment.name}} - {{comment.email}}
        </li>
    </ul>
</div>
</body>
</html>